bertopic==0.17.3
emoji==2.14.1
hdbscan==0.8.40
langchain==0.3.27
langchain_community==0.3.30
langchain_google_genai==2.1.12
matplotlib==3.10.6
networkx==3.4.2
nltk==3.9.1
pandas==2.3.2
plotly==6.3.0
python-dotenv==1.1.1
scikit_learn==1.7.2
seaborn==0.13.2
sentence_transformers==5.1.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
streamlit==1.49.1
transformers==4.56.2
umap_learn==0.5.9.post2
wordcloud==1.9.4
